<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="#/users">Users</a>
                <i class="fa fa-circle"></i>
            </li>                            
        </ul>
        <ul class="page-breadcrumb">
            <li>
                <a ui-sref="user-detail({'user': transactionsListCtrl.user_id})">User detail</a>
                <i class="fa fa-circle"></i>
            </li>                            
        </ul>
        <ul class="page-breadcrumb">
            <li>
                <a href="">Transactions</a>
            </li>                            
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">List of transactions</span>
                    </div>                                    
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Date from</h4>
                                <p class="input-group">
                                    <input type="text" show-button-bar="false" class="form-control" uib-datepicker-popup ng-model="transactionsListCtrl.datetime_from" is-open="transactionsListCtrl.fromDateCalendarOpened" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="transactionsListCtrl.chooseFromDate()">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h4>Date to</h4>
                                <p class="input-group">
                                    <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup ng-model="transactionsListCtrl.datetime_to" is-open="transactionsListCtrl.toDateCalendarOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="transactionsListCtrl.chooseToDate()">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h4>Filter</h4>
                                <p class="input-group">
                                    <select class="form-control" name="singleSelect" ng-change="transactionsListCtrl.load()" ng-model="transactionsListCtrl.transaction_type">
                                        <option value="payment">Payment</option>
                                        <option value="coupon">Coupon</option>
                                        <option value="inGamePurchase">InGamePurchase</option>
                                        <option value="internal">Internal</option>
                                        <option value="cancellation">Cancellation</option>
                                    </select>
                                </p>
                            </div>
                        </div>                                      
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                    <thead>
                        <tr>
                            <th> User id </th>
                            <th> Operation id </th>
                            <th> Date </th>
                            <th> Balance </th>
                            <th> Transaction id </th>
                            <th> Transaction type </th>                                               
                            <th> Status </th>
                            <th> Amount </th>
                            <th> Coupon code </th>                                         
                            <th> Sum </th>
                            <th> Currency </th>                                                
                            <th> Comment </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in transactionsListCtrl.transactions">
                            <td ng-bind="::item.user_id"></td>
                            <td ng-bind="::item.operation_id"></td>                                                
                            <td ng-bind="::item.date | date : 'dd.MM.yyyy' "></td>
                            <td ng-bind="::item.user_balance"></td>
                            <td ng-bind="::item.transaction_id"></td>
                            <td ng-bind="::item.transaction_type"></td>
                            <td ng-bind="::item.status"></td>     
                            <td ng-bind="::item.amount"></td>   
                            <td ng-bind="::item.coupon_code"></td>    
                            <td ng-bind="::item.sum"></td>   
                            <td ng-bind="::item.currency"></td>   
                            <td ng-bind="::item.comment"></td>                                      
                        </tr>                                   
                    </tbody>
                </table>                
            </div>
        </div>
    </div>
</div>
               